# Index of external documents. 
# PLEASE KEEP THE ARRAYS BELOW ALPHANUMERICALLY SORTED!
# PLEASE KEEP THE LAST EMPTY ROW
# Format: {document folder and name}={output name}

AnalisiDeiRequisiti=Analisi dei Requisiti
Glossario=Glossario
LetteraDiPresentazione=Lettera di Presentazione
PianoDiProgetto=Piano di Progetto
PianoDiQualifica=Piano di Qualifica
SpecificaTecnica=Specifica Tecnica
StudioDiFattibilità=Studio di Fattibilità
