# Index of internal documents.
# PLEASE KEEP THE ARRAYS BELOW ALPHANUMERICALLY SORTED!
# PLEASE KEEP THE LAST EMPTY ROW
# Format: {document folder and name}={output name}

NormeDiProgetto=Norme di progetto
VerbaleEsterno8_12_2016=Verbale Esterno 8-12-2016
VerbaleEsterno23_12_2016=Verbale Esterno 23-12-2016
VerbaleInterno9_12_2016=Verbale Interno 9-12-2016
VerbaleInterno16_12_2016=Verbale Interno 16-12-2016
VerbaleInterno22_12_2016=Verbale Interno 22-12-2016
VerbaleInterno30_12_2016=Verbale Interno 30-12-2016
